# Rename this file to .env to actually use it

# Uncomment the following and set to the desired port value. By default,
# Jupyter server starts at port 8888
# JUPYTER_PORT=5000

# Uncomment the following and set your own JUPYTER_PASSWORD. By default, the password is set to walkerlab.
# JUPYTER_PASSWORD='my custom password'

# Uncomment and set the following to something unique in case you encounter docker compose name collision
# COMPOSE_PROJECT_NAME=unique_project_name

